<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
      <li class="dropdown">
          <a class="dropdown-toggle">
              Click me to see some awesome things!
          </a>
          <ul class="dropdown-menu">
              <li ng-repeat="thing in awesomeThings">
                  <a>{{thing}}</a>
              </li>
          </ul>
      </li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
